rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Catalogo compartilhado de medicamentos
    // Permite leitura publica e escrita para usuarios autenticados
    match /remume_santa_maria/{docId} {
      allow read: if true;
      allow create, update, delete: if request.auth != null;
    }

    // Negacao padrao para qualquer outra colecao/documento.
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
